@model DataLakkireddy.Models.ShoppingMall

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ShoppingMall</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmaidId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmaidId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MallName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MallName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebsiteURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebsiteURL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearEstablished)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearEstablished)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.MallID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
