@model IEnumerable<DataLakkireddy.Models.ShoppingMall>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmaidId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MallName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebsiteURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearEstablished)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmaidId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MallName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebsiteURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearEstablished)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.MallID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.MallID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.MallID">Delete</a>
        </td>
    </tr>
}
</table>
